.starrr {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #d2d7db;
  border-radius: 4px;
  padding: 9px 12px 5px;

  .rate-star {
    padding: 0 2px;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 15px;
      background-image: url(starrr-sprite.png);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .star-empty:before {
    background-position: 0 -30px;
  }
}


